# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.github
.husky
.vscode
mock
.eslintrc.cjs
.lintstagedrc.cjs
commitlint.config.cjs
index.html
jest.config.js
jsconfig.json
package.json
vite.config.js
vitest.setup.js